@use "./variables" as *;


footer {
    background-color: $color-footer;
    color: $color-titulos;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-family: $fuente-textosgenerales;
}

#footer {
    font-size: 16px;
    font-family: $fuente-titulos;
    color: $color-titulos;
    line-height: 1.6;
}

#p-urbano {
    max-width: 250px;
    margin: 0 auto;
    padding-bottom: 30px;
}