@use "./variables" as *;

@media (max-width: 768px) {
    .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    }

    .about-us { 
    font-size: 28px;
    padding: 30px;
}
    .about-us-text {
    font-size: 16px;
    padding: 10px;
    }
}

#footer {
    font-size: 16px;
    font-family: $fuente-titulos;
    color: rgb(255, 255, 255);
    line-height: 1.6;
}

@media (max-width: 576px) {
    .carousel-item img {
    height: 500px;   
    object-fit: cover; 
    }
}

@media (max-width: 300px) {
    .grid-container {
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    gap: 10px;
    }

    .about-us {
    font-size: 18px;
    padding: 10px;
    font-family: $fuente-textosgenerales;
}
    .about-us-text {
    font-size: 14px;
    padding: 0 10px;
    font-family: $fuente-textosgenerales;
    }
}


