
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


body {
    background-color: #eeeeee;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: 'montserrat', sans-serif;
    font-weight: 300;
    font-size: 48px;
    margin: 0 2rem;
}

h2 {
    padding: 20px;
}

/* Estilos para la sección de productos de la home */

.productos-contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}


footer {
    background-color: rgb(36, 34, 34);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-family: 'martel', sans-serif;
}

/* Estilos para la barra de filtro */

.barra-filtro {
    display: flex;
    flex-wrap: wrap; /* permite que los elementos bajen si no hay espacio */
    gap: 20px;
    align-items: center;
    background-color: rgb(212, 213, 214);
    padding: 10px;
    border-bottom: 1px solid #c5c4c4;

}

/* Estilos para la cuadrícula de productos Hombre */ 

.grid-container { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.grid-item, .card-home {
    border: 1px solid rgb(194, 192, 192);
    background-color: rgb(212, 213, 214);
    max-width: 100%;
    gap: 10px;
}

.grid-item img {
    max-width: 100%;
    min-width: auto;
}

.imagen-producto {
    max-width: 100%;
    height: auto;
}

/* Estilos para el texto debajo de cada producto */

h3, h2, p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    color: rgb(75, 72, 72);
    text-align: center;
}

#text-about-us {
    font-family: Arial, Helvetica, sans-serif;
    padding:20px 40px 60px 40px;
}

h5, h6, #text-footer, #text-fic { 
    font-family: Montserrat;
    font-size: 15px;
    padding: 10px 0px 0px 0px;
}

.text-cuotas {
    font-size: 14px;
    color: #555;
    margin-bottom: 6px;
    font-family: Arial, Helvetica, sans-serif;
}

.price {
    font-size: 16px;
    margin-bottom: 6px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(59, 57, 57);
}
.discount{
    color: #888;
    text-decoration: line-through;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

#button-add {
    background-color: rgb(183, 187, 204);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    float: right;
}

.about-us {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: rgb(36, 34, 34);
    margin-bottom: 20px;
    padding: 40px 0 20px 0;
}
.about-us-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: rgb(36, 34, 34);
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}
/* Adaptación para tablets */

@media (max-width: 768px) {
    .grid-container {
    grid-template-columns: repeat(2, 1fr);
    }

    .about-us { 
    font-size: 28px;
    padding: 30px;
}
    .about-us-text {
    font-size: 16px;
    padding: 10px;
    }
}

@media (max-width: 300px) {
    .grid-container {
    grid-template-columns: repeat(2,200px);
    gap: 10px;
    }

    .about-us {
    font-size: 18px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}
    .about-us-text {
    font-size: 14px;
    padding: 0 10px;
    font-family: 'Montserrat', sans-serif;
    }
}

@media (max-width: 576px) {
    .carousel-item img {
    height: 500px;   
    object-fit: cover; 
    }
}

/*animaciones nav-bar */

.nav-link {
    position: relative;
    transition: color 0.3s ease;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s ease;
}

.nav-link:hover {
  color: #ae00ff; /* cambia de color al hover */
}

.nav-link:hover::after {
  width: 100%; /* subrayado se expande */
}

/*estilo del menu hamburguesa*/

.navbar-toggler {
  border: none;        /* elimina el borde */
  outline: none;       /* elimina el contorno al hacer foco */
  box-shadow: none;    /* elimina sombra */
}
